/* Base style changes */

@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

// Resets

*, ::after, ::before {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Ubuntu',sans-serif,Apple Color Emoji,Segoe UI,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
  line-height: 1.75;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
}

section {
  text-align: left;
  padding: 2.5rem 0;

  &:first-child {
    margin-top: 0;
  }
}

h2 {
  margin: 0;
}

a {
  text-decoration: none;
  color: $primary-font-color;
  transition-duration: 0.3s;
  &:hover {
    opacity: 0.7;
  }
}

@media screen and (min-width: $big-viewport) {
  html {
    scroll-padding-top: 0;
  }
}
