
// colors
$primary-color: #3b3b3b;
$secondary-color: #3d6299;
$terciary-color: #f2f2f2;

$primary-font-color: hsl(0, 4%, 95%);
$secondary-font-color: hsl(0, 5%, 25%);
$terciary-font-color: hsl(0, 1%, 54%);

// sizes

$small: 0.3rem;
$medium: 1rem;
$big: 2rem;
$extra-big: 4rem;

$extra-small-space: 0.3rem;
$small-space: 0.5rem;
$medium-space: 1rem;
$big-space: 2rem;
$extra-big-space: 4rem;
$super-big-space: 8rem;

$small-font-size: 0.85rem;
$medium-font-size: 1rem;
$big-font-size: 1.5rem;
$extra-big-font-size: 2rem;
$super-big-font-size: 4rem;


// viewports breakpoints

$small-viewport: 400px;
$medium-viewport: 600px;
$big-viewport: 800px;
