@mixin flex($direction: row, $wrapping: wrap) {
  display: flex;
  align-items: center;
  flex-wrap: $wrapping;
  flex-direction: $direction;
}

@mixin container() {
  max-width: $breakpoint-big;
  margin-left: auto;
  margin-right: auto;
  padding: 0 0.7rem;

  @media screen and (min-width: $breakpoint-big) {
    .container {
      padding-left: $big;
      padding-right: $big;
    }
  }
}
