// colors

$text-primary: hsl(0, 4%, 95%);
$text-secondary: hsl(0, 5%, 25%);
$text-terciary: hsl(0, 1%, 54%);
$background-primary: hsl(0, 0%, 23%);
$background-secondary: hsl(216, 43%, 42%);
$background-terciary: hsl(0, 4%, 95%);

// sizes

$small: 0.3rem;
$medium: 1rem;
$big: 2rem;
$extra-big: 4rem;

// list of sizes

$sizes: (
  "s": $small,
  "m": $medium,
  "l": $big,
  "xl": $extra-big,
);

// viewports breakpoints

$breakpoint-small: 400px;
$breakpoint-medium: 600px;
$breakpoint-big: 800px;
