@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*, ::after, ::before {
  box-sizing: border-box;
}

html {
  font-family: 'Ubuntu',sans-serif,Apple Color Emoji,Segoe UI,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  font-size: 1rem;
  line-height: 1.75;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
}
body {
  padding: 0;
  margin: 0;
}
section {
  text-align: left;
  padding: 2.5rem 0;

  &:first-child {
    margin-top: 0;
  }
}
h2 {
  margin: 0;
}
a {
  text-decoration: none;
  color: var(--font-color);
  transition-duration: 0.3s;
  &:hover {
    opacity: 0.7;
  }
}
.container {
	max-width: 825px;
	margin-left: auto;
	margin-right: auto;
  padding: 0 0.7rem;
}

.text {
  &-s {
    font-size: $small;
  }
  &-m {
    font-size: $medium;
  }
  &-l {
    font-size: $big;
  }
  &-xl {
    font-size: $extra-big;
  }
  &-bold {
    font-weight: 800;
  }
  &-center {
    text-align: center;
  }
}

@media screen and (min-width: $breakpoint-big) {
  html {
    scroll-padding-top: 0;
  }
  .container {
    padding-left: $big;
    padding-right: $big;
  }
}
